[Unit]
Description=OpenTimestamps server
After=bitcoind.service

[Service]
User=bitcoin
Group=bitcoin
ExecStartPre=/bin/bash /usr/sbin/bitcoind-ready.sh
ExecStart=/usr/sbin/otsd -v -c ${CALENDAR_DIR} $OPTIONS
EnvironmentFile=/etc/sysconfig/otsd
Restart=on-failure
KillSignal=SIGINT
PrivateTmp=true
TimeoutStopSec=120
TimeoutStartSec=60
StartLimitInterval=240
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
